root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{h,hpp,c,cc,cpp}]
indent_size = 2

[*.py]
indent_size = 4

[*.{lisp,asd,el,paren}]
indent_size = none
indent_style = space
tab_width = none

[*.{js,jsx,json,ts,tsx}]
indent_size = 2

[**.html]
max_char = 78
brace_style = expand

[*.{yaml,yml}]
indent_size = 2

[*.launch]
indent_size = 2

[*.test]
indent_size = 2

[*.{vert,tesc,tese,geom,frag,comp,glsl}]
indent_size = 4
