root=true

[*]
charset=utf-8
end_of_line=lf
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.java]
indent_size=4

[*.nix]
indent_size=2

[*.proto]
indent_size=2

[*.purs]
indent_size=2

[*.py]
indent_size=4

[*.tf]
indent_size=2

[*.{vert,frag,glsl}]
indent_size=2

[*.{h,hpp,c,cc,cpp}]
indent_size=4

[*.{html,css,sass,scss}]
indent_size=2

[*.{js,jsx,json,ts,tsx,mjs,cjs,mts,cts}]
indent_size=2

[*.{scala,sc}]
indent_size=2

[*.{xml,launch,test}]
indent_size=2

[*.{yaml,yml}]
indent_size=2

[Makefile]
indent_style=tab
