[init]
	defaultBranch = main
[push]
	default = simple
[alias]
  ba = branch -a
  bd = branch -d
  br = branch
  cam = commit -am
  cm = commit -m
  cl = clone
  co = checkout
  cob = checkout -b
  d = diff
  dc = diff --cached
  ds = diff --stat
  fl = log -u
  la = "!git config -l | grep alias | cut -c 7-"
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lol = log --oneline --decorate --graph --all
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  p = push
  r = reset
  rh = reset --hard
  r1 = reset HEAD^
  sl = stash list
  st = status -sb
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[core]
	pager = delta --diff-so-fancy
  excludesFile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  line-numbers = true
[merge]
  conflictstyle = diff3
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[include]
  path = ~/.gitconfig-local
