# Emacs
*~
\#*\#
*.elc
auto-save-list
.\#*

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Python
__pycache__/
.mypy_cache/

# VS Code
.vscode/

# direnv
.direnv/
.envrc
